*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto';
    overflow: hidden !important;
    width: 100vw;
}
body{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
img{
    height: 70vh;
    width: 70vw;
}
h1{
    color: #3f3d56;
}
a{
    text-decoration: none;
    background-color: #3f3d56;
    width: 30vw;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
a:hover{
    color: #3f3d56;
    background-color: white;
    transition: 1s;
}